/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

  #nav-link-font {
      font-size: larger;
  }

  .nav-item {
      font-size:larger;
  }

  .section-heading1 {
      vertical-align: top;
      /*text-align: top;*/
      margin-top: 10px;
  }

  img {
      height: 250px;
  }

  .border-blk {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  
  .border-red {
      border: 2px solid red;
      /*
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    */
  }
  
  .border-blue {
    border-top: 2px solid blue;
    border-right: 2px solid blue;
    border-bottom: 2px solid blue;
    border-left: 2px solid blue;
  }
  
  .border-lightgray {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
  }
  
  .border-grn {
    border-top: 2px solid lightgreen;
    border-right: 2px solid lightgreen;
    border-bottom: 2px solid lightgreen;
    border-left: 2px solid lightgreen;
    border-radius: 2px;
  }
  
  
  .border-grn {
    border-top: 2px solid lightgreen;
    border-right: 2px solid lightgreen;
    border-bottom: 2px solid lightgreen;
    border-left: 2px solid lightgreen;
    border-radius: 2px;
  }


